In [45]:
# 這是一個註解
# In Jupyter, 用 <ctrl-/> 來 toggle comment
# 支援多行同時註解

# Python coding style
# https://www.python.org/dev/peps/pep-0008/

In [47]:
# 用縮排來定義一個code block
# In Jyputer, 用 <Tab> or <ctrl-]> or <ctrl-[> 來調整縮排
# 支援多行同時縮排
if True:
    print("Hi i am indented")

Hi i am indented

# 在Python裡面, 所有的東西都是一個Object

# Integer

In [8]:
1

1

In [9]:
# 用type()來簡查型態
type(1)

int

In [10]:
1 + 1

2

In [11]:
2 - 1

1

In [12]:
2 * 2

4

In [13]:
4 / 2

2.0

In [14]:
5 % 2

1

In [16]:
2 ** 3 # 2^3

8

In [17]:
# 型態轉換 int -> str
str(1) # Cast to str type

'1'

# String

In [28]:
"I'm a string"

"I'm a string"

In [25]:
'I am also a string'

'I am also a string'

In [ ]:
# 通常一個句子類型的字串會用""
# 較短的如dict的key會用''

In [23]:
# 三個"""可以跨行
"""I am ano
ther string"""

'I am ano\nther string'

In [26]:
# 三個'''也可以跨行
'''This is the 
last string'''

'This is the \nlast string'

In [27]:
# 把兩個字串合併在一起
"My name is " + "Ian"

'My name is Ian'

In [32]:
name = "Ian"
lang = "Python"

"My name is " + name + ", I program " + lang

'My name is Ian, I program Python'

In [ ]:
# 比較好的字串組合
# 使用str object的.format()方法

In [30]:
"My name is {}, I program {}"

'My name is {}, I program {}'

In [31]:
"My name is {}, I program {}".format("Ian", "Python")

'My name is Ian, I program Python'

In [33]:
"My name is {}, I program {}".format(name, lang)

'My name is Ian, I program Python'

### 注意

In [38]:
# 想要把數字跟str合併在一起,會有型態錯誤
# 因為int跟str把+號看成不同意思
num = 12
"My name is " + name + ", I program " + lang + ", I have " + num + " dogs"

TypeError: must be str, not int

In [36]:
# 用format就沒有這個問題
"My name is {}, I program {}, I have {} dogs".format(name, lang, num)

'My name is Ian, I program Python, I have 12 dogs'

In [39]:
# format多行
"""My name is {},
I program {},
I have {} dogs""".format(name, lang, num)

'My name is Ian,\nI program Python,\nI have 12 dogs'

In [40]:
# Code within (), can be multi lined
# 在小括號裡面的code, 可以換行
"My name is {}, I program {}, I have {} dogs".format(name,
                                                     lang,
                                                     num)

'My name is Ian, I program Python, I have 12 dogs'

In [50]:
# Old way of doing multi line code
# 老式的多行code
# 缺點： 要管理一堆 \
"My name is " + name\
+ ", I program "\
+ lang

'My name is Ian, I program Python'

In [51]:
# New way, just put them inside ()
# 在code兩邊加上()就好, 方便又美觀
("My name is " + name
+ ", I program "
+ lang)

'My name is Ian, I program Python'

In [52]:
"hi"

'hi'

In [53]:
"hi".upper()

'HI'

In [3]:
# 字串(str)也是object, 我們來玩玩str object的methods

In [5]:
x = "hi from taiwan"

In [6]:
x.title()

'Hi From Taiwan'

In [57]:
# 斷開字串, 預設使用空白斷開
x = "hi from taiwan"
x.split()

['hi', 'from', 'taiwan']

In [60]:
# 使用,斷開
x = "hi,from,taiwan"
x.split(",")

['hi', 'from', 'taiwan']

In [58]:
# strip可以把兩邊的空白去掉
x = "    hi from taiwan    "
x.strip()

'hi from taiwan'

In [59]:
# join可以用一個str把list of str合併起來
",".join(["name", "lang", "dogs"])

'name,lang,dogs'

In [61]:
# replace...
x = "    hi from taiwan    "
x.replace("taiwan", "japan")

'    hi from japan    '

In [62]:
# 測試一個字串有沒有在另外一個字串裡,return boolean
x = "    hi from taiwan    "
"taiwan" in x

True

In [63]:
x = "    hi from taiwan    "
"japan" in x

False

# Boolean

In [64]:
# Boolean
True
False

False

In [65]:
1 > 2

False

In [68]:
3 <= 10

True

# List

In [20]:
[1,2,3]

[1, 2, 3]

In [21]:
type([1,2,3])

list

In [22]:
num_list = [1,2,3]

In [23]:
num_list[0]

1

In [24]:
num_list[1]

2

In [25]:
num_list[:2]

[1, 2]

In [26]:
num_list[2:]

[3]

In [27]:
num_list[1:2]

[2]

In [28]:
num_list = [1,2,3,4,5,6,7,8]
num_list[1:5:2] # [start:end:step]

[2, 4]

In [29]:
my_long_str = "hello world"

In [30]:
my_long_str[0]

'h'

In [31]:
my_long_str[:6]

'hello '

In [32]:
my_list = []

In [33]:
my_list.append('python')

In [34]:
my_list

['python']

In [35]:
my_list.append('ruby')

In [36]:
my_list

['python', 'ruby']

In [37]:
my_list.append('javascript')

In [38]:
my_list

['python', 'ruby', 'javascript']

In [39]:
my_list[-1]

'javascript'

In [40]:
del my_list[-1]

In [41]:
my_list

['python', 'ruby']

In [42]:
my_list.pop()

'ruby'

In [43]:
my_list

['python']

In [44]:
my_list = ['python', 'ruby', 'javascript']

In [45]:
'python' in my_list

True

In [46]:
'java' in my_list

False

In [47]:
len(my_long_str)

11

In [48]:
len(my_list)

3

In [49]:
your_list = ['java']
my_list + your_list

['python', 'ruby', 'javascript', 'java']

In [50]:
my_list.extend(your_list)

In [51]:
my_list

['python', 'ruby', 'javascript', 'java']

In [53]:
# mutable    -> list.append(), list.extend(), del list[1] ....etc 會改變list這個變數的值
# immutable -> list1 + list2  計算的結果會被return, 沒有值會被改變

# Dictionary (key - value)

In [61]:
mydict = {"fist_name": "Ian",
         "last_name": "Chen",
         "email": "ianchen06@gmail.com",
         "website": "https://ianchenhq.com",
         "num_dogs": 12,
         "langs": ['python', 'ruby', 'javascript']}

In [77]:
# 查詢 dictionary

In [62]:
mydict['fist_name']

'Ian'

In [63]:
mydict['last_name']

'Chen'

In [64]:
mydict['email']

'ianchen06@gmail.com'

In [60]:
mydict['num_dogs']

12

In [65]:
mydict['langs']

['python', 'ruby', 'javascript']

In [66]:
# 新增一個key value pair
mydict['address'] = 'Taipei'

In [67]:
mydict

{'address': 'Taipei',
 'email': 'ianchen06@gmail.com',
 'fist_name': 'Ian',
 'langs': ['python', 'ruby', 'javascript'],
 'last_name': 'Chen',
 'num_dogs': 12,
 'website': 'https://ianchenhq.com'}

In [78]:
# 修改現有key value pair
mydict['num_dogs'] = 3

In [69]:
mydict

{'address': 'Taipei',
 'email': 'ianchen06@gmail.com',
 'fist_name': 'Ian',
 'langs': ['python', 'ruby', 'javascript'],
 'last_name': 'Chen',
 'num_dogs': 3,
 'website': 'https://ianchenhq.com'}

In [70]:
# 刪除一筆key value pair
del mydict['num_dogs']

In [71]:
mydict

{'address': 'Taipei',
 'email': 'ianchen06@gmail.com',
 'fist_name': 'Ian',
 'langs': ['python', 'ruby', 'javascript'],
 'last_name': 'Chen',
 'website': 'https://ianchenhq.com'}

In [72]:
# 當我們query一個不存在的key的時候,會有錯誤
mydict['cars']

KeyError: 'cars'

In [76]:
# 可以用in來查詢一個key是否存在於dict當中
'cars' in mydict

False

In [73]:
# 更好的query方法, 用get() method
# 如果沒有這個key, return None
mydict.get('cars')

In [75]:
# 或者可以給它預設值, no car
mydict.get('cars', 'no car')

'no car'

In [79]:
mydict.get('address')

'Taipei'

# Control Flow and Iterables

In [ ]:
# Iterable

In [80]:
langs = ['python', 'ruby', 'javascript']

In [81]:
for lang in langs:
    print("I can program {}".format(lang))

I can program python
I can program ruby
I can program javascript

In [83]:
for animal in ['cat', 'dog', 'bird']:
    print("{} is an animal".format(animal))

cat is an animal
dog is an animal
bird is an animal

In [85]:
x = 0
while x < 4:
    print("x is {}".format(x))
    x += 1 # 等於x++ or x = x + 1

x is 0
x is 1
x is 2
x is 3

In [97]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [99]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [103]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# if-else

In [86]:
if 'python' in langs:
    print("knows Python!")

knows Python!

In [89]:
if 'janapese' in langs:
    print("knows Japanese!")

In [92]:
langs = ['ruby']
if 'python' in langs:
    print("knows Python!")
else:
    print("does not know Python :(")

does not know Python :(

In [95]:
langs = ['python', 'ruby', 'javascript']
if len(langs) > 3:
    print("programming ninja")
elif len(langs) > 1 :
    print("programming starter")
else:
    print("muggle")

programming starter

In [104]:
header_str = """Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding:gzip, deflate, sdch
Accept-Language:en-US,en;q=0.8
Connection:keep-alive
Cookie:__asc=f9bad91c15b8a117b57e7112b10; __auc=f9bad91c15b8a117b57e7112b10; _ga=GA1.3.1354850009.1492670053; _gat=1; __gads=ID=173de187635fb21b:T=1492670053:S=ALNI_MaLUOXI06p68JrJhvo0dgEI3XLUaA
Host:news.cts.com.tw
Referer:http://www.cts.com.tw/
Upgrade-Insecure-Requests:1
User-Agent:Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36
"""

# 寫一個程式, 把上面的header_str傳換成下面的header_dict結構
# 提示: str object的methods好用, konw your dictionary
# header_dict = {"Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
#                "Accept-Encoding": "gzip, deflate, sdch",
#                                 ...
#               }