In [45]:
# 這是一個註解
# In Jupyter, 用 <ctrl-/> 來 toggle comment
# 支援多行同時註解

# Python coding style
# https://www.python.org/dev/peps/pep-0008/

In [47]:
# 用縮排來定義一個code block
# In Jyputer, 用 <Tab> or <ctrl-]> or <ctrl-[> 來調整縮排
# 支援多行同時縮排
if True:
    print("Hi i am indented")

Hi i am indented

# 在Python裡面, 所有的東西都是一個Object

# Integer

In [8]:
1

1

In [9]:
# 用type()來簡查型態
type(1)

int

In [10]:
1 + 1

2

In [11]:
2 - 1

1

In [12]:
2 * 2

4

In [13]:
4 / 2

2.0

In [14]:
5 % 2

1

In [16]:
2 ** 3 # 2^3

8

In [17]:
# 型態轉換 int -> str
str(1) # Cast to str type

'1'

In [18]:
# String

In [28]:
"I'm a string"

"I'm a string"

In [25]:
'I am also a string'

'I am also a string'

In [ ]:
# 通常一個句子類型的字串會用""
# 較短的如dict的key會用''

In [23]:
# 三個"""可以跨行
"""I am ano
ther string"""

'I am ano\nther string'

In [26]:
# 三個'''也可以跨行
'''This is the 
last string'''

'This is the \nlast string'

In [27]:
# 把兩個字串合併在一起
"My name is " + "Ian"

'My name is Ian'

In [32]:
name = "Ian"
lang = "Python"

"My name is " + name + ", I program " + lang

'My name is Ian, I program Python'

In [ ]:
# 比較好的字串組合
# 使用str object的.format()方法

In [30]:
"My name is {}, I program {}"

'My name is {}, I program {}'

In [31]:
"My name is {}, I program {}".format("Ian", "Python")

'My name is Ian, I program Python'

In [33]:
"My name is {}, I program {}".format(name, lang)

'My name is Ian, I program Python'

### 注意

In [38]:
# 想要把數字跟str合併在一起,會有型態錯誤
# 因為int跟str把+號看成不同意思
num = 12
"My name is " + name + ", I program " + lang + ", I have " + num + " dogs"

TypeError: must be str, not int

In [36]:
# 用format就沒有這個問題
"My name is {}, I program {}, I have {} dogs".format(name, lang, num)

'My name is Ian, I program Python, I have 12 dogs'

In [39]:
# format多行
"""My name is {},
I program {},
I have {} dogs""".format(name, lang, num)

'My name is Ian,\nI program Python,\nI have 12 dogs'

In [40]:
# Code within (), can be multi lined
# 在小括號裡面的code, 可以換行
"My name is {}, I program {}, I have {} dogs".format(name,
                                                     lang,
                                                     num)

'My name is Ian, I program Python, I have 12 dogs'

In [50]:
# Old way of doing multi line code
# 老式的多行code
# 缺點： 要管理一堆 \
"My name is " + name\
+ ", I program "\
+ lang

'My name is Ian, I program Python'

In [51]:
# New way, just put them inside ()
# 在code兩邊加上()就好, 方便又美觀
("My name is " + name
+ ", I program "
+ lang)

'My name is Ian, I program Python'

In [52]:
"hi"

'hi'

In [53]:
"hi".upper()

'HI'

In [3]:
# 字串(str)也是object, 我們來玩玩str object的methods

In [5]:
x = "hi from taiwan"

In [6]:
x.title()

'Hi From Taiwan'

In [57]:
# 斷開字串, 預設使用空白斷開
x = "hi from taiwan"
x.split()

['hi', 'from', 'taiwan']

In [60]:
# 使用,斷開
x = "hi,from,taiwan"
x.split(",")

['hi', 'from', 'taiwan']

In [58]:
# strip可以把兩邊的空白去掉
x = "    hi from taiwan    "
x.strip()

'hi from taiwan'

In [59]:
# join可以用一個str把list of str合併起來
",".join(["name", "lang", "dogs"])

'name,lang,dogs'

In [61]:
# replace...
x = "    hi from taiwan    "
x.replace("taiwan", "japan")

'    hi from japan    '

In [62]:
# 測試一個字串有沒有在另外一個字串裡,return boolean
x = "    hi from taiwan    "
"taiwan" in x

True

In [63]:
x = "    hi from taiwan    "
"japan" in x

False

In [64]:
# Boolean
True
False

False

In [65]:
1 > 2

False

In [68]:
3 <= 10

True