In [45]:
# This is a comment
# In Jupyter, use <ctrl-/> to toggle comment
# Supports multi-line

In [46]:
# Python coding style
# https://www.python.org/dev/peps/pep-0008/

In [47]:
# Block is indented
# In Jyputer, use <Tab> or <ctrl-]> or <ctrl-[> to adjust indention
# Supports multi-line
if True:
    print("Hi i am indented")

Hi i am indented

In [2]:
# Integer

In [8]:
1

1

In [9]:
type(1)

int

In [10]:
1 + 1

2

In [11]:
2 - 1

1

In [12]:
2 * 2

4

In [13]:
4 / 2

2.0

In [14]:
5 % 2

1

In [16]:
2 ** 3 # 2^3

8

In [17]:
str(1) # Cast to str type

'1'

In [18]:
# String

In [28]:
"I'm a string"

"I'm a string"

In [25]:
'I am also a string'

'I am also a string'

In [23]:
"""I am ano
ther string"""

'I am ano\nther string'

In [26]:
'''This is the 
last string'''

'This is the \nlast string'

In [27]:
"My name is " + "Ian"

'My name is Ian'

In [32]:
name = "Ian"
lang = "Python"

"My name is " + name + ", I program " + lang

'My name is Ian, I program Python'

In [30]:
"My name is {}, I program {}"

'My name is {}, I program {}'

In [31]:
"My name is {}, I program {}".format("Ian", "Python")

'My name is Ian, I program Python'

In [33]:
"My name is {}, I program {}".format(name, lang)

'My name is Ian, I program Python'

In [34]:
# Warnings

In [38]:
num = 12
"My name is " + name + ", I program " + lang + ", I have " + num + " dogs"

TypeError: must be str, not int

In [36]:
"My name is {}, I program {}, I have {} dogs".format(name, lang, num)

'My name is Ian, I program Python, I have 12 dogs'

In [39]:
"""My name is {},
I program {},
I have {} dogs""".format(name, lang, num)

'My name is Ian,\nI program Python,\nI have 12 dogs'

In [40]:
# Code within (), can be multi lined
"My name is {}, I program {}, I have {} dogs".format(name,
                                                     lang,
                                                     num)

'My name is Ian, I program Python, I have 12 dogs'

In [50]:
# Old way of doing multi line code
"My name is " + name\
+ ", I program "\
+ lang

'My name is Ian, I program Python'

In [51]:
# New way, just put them inside ()
("My name is " + name
+ ", I program "
+ lang)

'My name is Ian, I program Python'

In [52]:
"hi"

'hi'

In [53]:
"hi".upper()

'HI'

In [56]:
x = "hi from taiwan"
x.title()

'Hi From Taiwan'

In [57]:
x = "hi from taiwan"
x.split()

['hi', 'from', 'taiwan']

In [60]:
x = "hi,from,taiwan"
x.split(",")

['hi', 'from', 'taiwan']

In [58]:
x = "    hi from taiwan    "
x.strip()

'hi from taiwan'

In [59]:
",".join(["name", "lang", "dogs"])

'name,lang,dogs'

In [61]:
x = "    hi from taiwan    "
x.replace("taiwan", "japan")

'    hi from japan    '

In [62]:
x = "    hi from taiwan    "
"taiwan" in x

True

In [63]:
x = "    hi from taiwan    "
"japan" in x

False

In [64]:
# Boolean
True
False

False

In [65]:
1 > 2

False

In [68]:
3 <= 10

True